import { createStack } from "../src/Service.js"
import { getDomain } from "../src/config-reader.js"

// Simple Node.js service example
// Domain is automatically read from .swarm-config
const domain = getDomain()
export default createStack("func")
  .addService("node", 3000)
  .addRoute(`func.${domain}`)
