import type { Consumer } from "../../src/Consumer.js"

// Example consumer for basic authentication
// Change username and password for your needs
const consumer: Consumer = {
  username: "joachim",
  consumerName: "joachim",
  password: "this-is-not-my-password"
}

export default consumer
